# This file contains an example configuration to use a PWM-controlled tool
# such as a laser or spindle.
# See docs/Using_PWM_Tools.md for a more detailed description.

[mcu laser]
canbus_uuid: 501391e63601

[pwm_tool laser]
pin: laser:PD3
hardware_pwm: False
cycle_time: 0.001
shutdown_value: 0
# maximum_mcu_duration: 0.5
# Default: 0 (disabled)
# Amount of time in which the host has to acknowledge
# a non-shutdown output value.
# Suggested value is around 5 seconds.
# Use a value that does not burn up your stock.
# Please note that during homing, your tool
# needs to be in default speed.

[output_pin laser_power]
pin: laser:PA0
pwm: False
# maximum_mcu_duration: 0.0

[output_pin air_assist]
pin: PG12
pwm: False

[tool laser]
tool_number: 99
# extruder: extruder
#params_type: 'rods_mini_hookon'
# fan: red_part_fan
# gcode_x_offset: 0
# gcode_y_offset: 0
# gcode_z_offset: 0
# # Position with the toolhead aligned with the dock
# params_park_x: 80.0
# params_park_y: 0
# params_park_z: 299
# params_safe_y: 120
# params_close_y: 30

[tool_probe laser]
pin: laser:PB6
tool: 99
# red: z_offset: -1.0 # more negative = less squish
z_offset: -1.375 # green
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3

[gcode_macro SET_MAX_POWER]
variable_last_power: 0.0
variable_max_power: 255.0
gcode:
	SET_GCODE_VARIABLE MACRO=SET_MAX_POWER VARIABLE=max_power VALUE={ params.VALUE|float }

[gcode_macro M3]
gcode:
    {% set max_power = printer["gcode_macro SET_MAX_POWER"].max_power|float %}
    {% set last_power = printer["gcode_macro SET_MAX_POWER"].last_power|float %}
    {% set S = params.S|default(last_power)|float %}
    {% set has_s = 'S' in params %}
    {% if has_s %}
		SET_GCODE_VARIABLE MACRO=SET_MAX_POWER VARIABLE=last_power VALUE={ params.S|float }
    {% endif %}
    SET_PIN PIN=laser_power VALUE=1
    SET_PIN PIN=laser VALUE={S / max_power}

[gcode_macro M4]
gcode:
    {% set max_power = printer["gcode_macro SET_MAX_POWER"].max_power|float %}
    {% set last_power = printer["gcode_macro SET_MAX_POWER"].last_power|float %}
    {% set S = params.S|default(last_power)|float %}
    {% set has_s = 'S' in params %}
    {% if has_s %}
		SET_GCODE_VARIABLE MACRO=SET_MAX_POWER VARIABLE=last_power VALUE={ params.S|float }
    {% endif %}
    SET_PIN PIN=laser_power VALUE=1
    SET_PIN PIN=laser VALUE={S / max_power}

[gcode_macro M5]
gcode:
    {% if 'S' in params %}
		SET_GCODE_VARIABLE MACRO=SET_MAX_POWER VARIABLE=last_power VALUE={ params.S|float }
    {% endif %}

    SET_PIN PIN=laser VALUE=0.0
    # SET_PIN PIN=laser_power VALUE=0

[gcode_macro PAUSE]
rename_existing: _PAUSE_ORIG
gcode:
	{% if printer.toolchanger.tool == "laser" %}
		# M3 S0.0
        SET_PIN PIN=laser VALUE=0.0
        M5
        SET_PIN PIN=laser_power VALUE=0 # TODO: restore on resume
    {% else %}
		_PAUSE_ORIG
    {% endif %}


# Optional: LCD Menu Control

# [menu __main __control __toolonoff]
# type: input
# enable: {'pwm_tool TOOL' in printer}
# name: Fan: {'ON ' if menu.input else 'OFF'}
# input: {printer['pwm_tool laser'].value}
# input_min: 0
# input_max: 1
# input_step: 1
# gcode:
#     M3 S{255 if menu.input else 0}

# [menu __main __control __toolspeed]
# type: input
# enable: {'pwm_tool TOOL' in printer}
# name: Tool speed: {'%3d' % (menu.input*100)}%
# input: {printer['pwm_tool laser'].value}
# input_min: 0
# input_max: 1
# input_step: 0.01
# gcode:
#     M3 S{'%d' % (menu.input*255)}