# Orbiter2 with Smart Sensor
# Phaetus Dragon

[include orbiter_smart_sensor.cfg]

[mcu red]
canbus_uuid: c3c0aecd8f24

[adxl345]
cs_pin: red:PB12
spi_software_sclk_pin: red:PB10
spi_software_mosi_pin: red:PB11
spi_software_miso_pin: red:PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345

[extruder]
step_pin: red:PD0
dir_pin: red:PD1
enable_pin: !red:PD2
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_only_distance: 150
heater_pin: red:PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: red:PA3
control: pid
pid_Kp: 39.765
pid_Ki: 20.392
pid_Kd: 19.386
min_temp: 0
max_temp: 320

[tmc2209 extruder]
uart_pin: red:PA15
run_current: 0.350
stealthchop_threshold: 999999

[fan_generic red_part_fan]
pin: red:PA0
cycle_time: 0.010

[heater_fan red_hotend_fan]
pin: red:PA1
heater: extruder
heater_temp: 50.0
cycle_time: 0.010

#[neopixel hotend_rgb]
#pin: red:gpio16

[tool red]
tool_number: 0
extruder: extruder
#params_type: 'rods_mini_hookon'
fan: red_part_fan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 16.0
params_park_y: 2.3
params_park_z: 334.0
params_safe_y: 120
params_close_y: 30

[gcode_macro T0]
rename_existing: T0000
variable_spool_id: None
variable_color: ""
gcode:
  SET_ACTIVE_SPOOL ID={spool_id}
  T0000


[tool_probe red]
pin: red:PB6
tool: 0
z_offset: -1.026  # more negative = less squish
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

[menu __main toolchanger red]
type: command
name: Red Tool
enable: True
index: 0
gcode: T0

[filament_switch_sensor red_sensor]
switch_pin: red:PB4
pause_on_runout: False
# runout_gcode: runout_init
# insert_gcode: filament_load_init
event_delay: 1.0
pause_delay: 0.1

# [gcode_button red_filament_unload]
# pin: red:PB3 # remove the negation "!" for sensor v1 - use just PA9 as example
# press_gcode:  # filament unload procedure   
#   unload_tangle_init
# #release_gcode:
# 	# do not add any macro call here

