[mcu yellow]
canbus_uuid: 509ac9abfbab

[adxl345]
cs_pin: yellow:PB12
spi_software_sclk_pin: yellow:PB10
spi_software_mosi_pin: yellow:PB11
spi_software_miso_pin: yellow:PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345

[extruder1]
step_pin: yellow:PD0
dir_pin: yellow:PD1
enable_pin: !yellow:PD2
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_only_distance: 150
heater_pin: yellow:PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: yellow:PA3
control: pid
pid_Kp: 23.772
pid_Ki: 4.528
pid_Kd: 31.201
min_temp: 0
max_temp: 320

[tmc2209 extruder1]
uart_pin: yellow:PA15
run_current: 0.350
stealthchop_threshold: 999999

[fan_generic yellow_part_fan]
pin: yellow:PA0
cycle_time: 0.010

[heater_fan yellow_hotend_fan]
pin: yellow:PA1
heater: extruder1
heater_temp: 50.0
cycle_time: 0.010

#[neopixel hotend_rgb]
#pin: yellow:gpio16

[tool yellow]
tool_number: 1
extruder: extruder1
#params_type: 'rods_mini_hookon'
fan: yellow_part_fan
gcode_x_offset: 0.437500
gcode_y_offset: -0.184375
gcode_z_offset: -0.135000
# Position with the toolhead aligned with the dock
params_park_x: 95.0
params_park_y: 2.6
params_park_z: 334.0
params_safe_y: 120
params_close_y: 30

[gcode_macro T1]
rename_existing: T1000
variable_spool_id: None
variable_color: ""
gcode:
  SET_ACTIVE_SPOOL ID={spool_id}
  T1000

[tool_probe yellow]
pin: yellow:PB6
tool: 1
# yellow: z_offset: -1.0 # more negative = less squish
z_offset: -1.375 # green
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder1

[menu __main toolchanger yellow]
type: command
name: Yellow Tool
enable: True
index: 1
gcode: T1

[filament_switch_sensor yellow_sensor]
switch_pin: yellow:PB4
pause_on_runout: False
runout_gcode: runout_init
insert_gcode: filament_load_init
event_delay: 1.0
pause_delay: 0.1

# [gcode_button yellow_filament_unload]
# pin: yellow:PB3
# press_gcode:  # filament unload procedure   
#   unload_tangle_init
# #release_gcode:
# 	# do not add any macro call here

