[mcu green]
canbus_uuid: 2a6d0d13f224

[adxl345]
cs_pin: green:PB12
spi_software_sclk_pin: green:PB10
spi_software_mosi_pin: green:PB11
spi_software_miso_pin: green:PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345

[extruder2]
step_pin: green:PD0
dir_pin: green:PD1
enable_pin: !green:PD2
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_only_distance: 150
heater_pin: green:PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: green:PA3
control: pid
pid_Kp: 24.482
pid_Ki: 5.265 
pid_Kd: 28.460
min_temp: 0
max_temp: 320

[tmc2209 extruder2]
uart_pin: green:PA15
run_current: 0.350
stealthchop_threshold: 999999

[fan_generic green_part_fan]
pin: green:PA1
cycle_time: 0.010

[heater_fan green_hotend_fan]
pin: green:PA0
heater: extruder2
heater_temp: 50.0
cycle_time: 0.010

#[neopixel hotend_rgb]
#pin: green:gpio16

[tool green]
tool_number: 2
extruder: extruder2
#params_type: 'rods_mini_hookon'
fan: green_part_fan
gcode_x_offset: -1.362500
gcode_y_offset: -0.17500
gcode_z_offset: -0.280 # measured: 0.031250
# Position with the toolhead aligned with the dock
params_park_x: 175.3
params_park_y: 2.2
params_park_z: 334
params_safe_y: 120
params_close_y: 30

[gcode_macro T2]
rename_existing: T2000
variable_spool_id: None
variable_color: ""
gcode:
  SET_ACTIVE_SPOOL ID={spool_id}
  T2000
  

# [tool_probe green]
# pin: green:PB6
# tool: 2
# # green: z_offset: -1.0 # more negative = less squish
# z_offset: -1.375 # green
# samples: 3
# samples_result: median
# sample_retract_dist: 2.0
# samples_tolerance: 0.02
# samples_tolerance_retries: 3
# activate_gcode:
#     _TAP_PROBE_ACTIVATE HEATER=extruder2

[menu __main toolchanger green]
type: command
name: Green Tool
enable: True
index: 2
gcode: T2

[filament_switch_sensor green_sensor]
switch_pin: green:PB4
pause_on_runout: False
runout_gcode: runout_init
insert_gcode: filament_load_init
event_delay: 1.0
pause_delay: 0.1

# [gcode_button green_filament_unload]
# pin: green:PB3
# press_gcode:  # filament unload procedure   
#   unload_tangle_init
# #release_gcode:
# 	# do not add any macro call here

