[mcu white]
canbus_uuid: 2184a2669554

[adxl345]
cs_pin: white:PB12
spi_software_sclk_pin: white:PB10
spi_software_mosi_pin: white:PB11
spi_software_miso_pin: white:PB2
axes_map: x,y,z

[resonance_tester]
probe_points: 175, 175, 20
accel_chip: adxl345

[extruder4]
step_pin: white:PD0
dir_pin: white:PD1
enable_pin: !white:PD2
microsteps: 16
# Papilio
gear_ratio: 44:8, 37:17
rotation_distance: 56.2
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_only_distance: 150
heater_pin: white:PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: white:PA3
control: pid
pid_Kp: 22.896
pid_Ki: 4.625
pid_Kd: 28.333
min_temp: 0
max_temp: 320

[tmc2209 extruder4]
uart_pin: white:PA15
run_current: 0.350
stealthchop_threshold: 999999

[fan_generic white_part_fan]
pin: white:PA0
cycle_time: 0.010

[heater_fan white_hotend_fan]
pin: white:PA1
heater: extruder4
heater_temp: 50.0
cycle_time: 0.010

#[neopixel hotend_rgb]
#pin: white:gpio16

[tool white]
tool_number: 4
extruder: extruder4
#params_type: 'rods_mini_hookon'
fan: white_part_fan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: 343.0
params_park_y: 4.0
params_park_z: 334.0
params_safe_y: 120
params_close_y: 30

[tool_probe white]
pin: white:PB6
tool: 4
# white: z_offset: -1.0 # more negative = less squish
z_offset: -1.375 # green
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder4

[gcode_macro T4]
rename_existing: T4000
variable_spool_id: None
variable_color: ""
gcode:
  SET_ACTIVE_SPOOL ID={spool_id}
  T4000
  

[menu __main toolchanger white]
type: command
name: White Tool
enable: True
index: 4
gcode: T4

# [filament_switch_sensor white_sensor]
# switch_pin: white:PB4
# pause_on_runout: False
# runout_gcode: runout_init
# insert_gcode: filament_load_init
# event_delay: 1.0
# pause_delay: 0.1

# [gcode_button white_filament_unload]
# pin: white:PB3
# press_gcode:  # filament unload procedure   
#   unload_tangle_init
# #release_gcode:
# 	# do not add any macro call here

